body{

}
.top .bg-drak {
    background-color: #000000; !important;

}
.logo {
    width: 100px;
    height: auto;
}
.content .bg {
    margin-right: auto;
    margin-left: auto;
    background: #abdde5;
    padding: 16px 5px;
}
.footer.container.copyright {
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    padding: 40px;

}
footer p{
    color: #ffffff;
}
#wrapper{
    margin: 0 auto;
    width: 970px;
    height: auto;
    background-color: #0c5460;
}
    #header{
    padding-top: 70px;
    background-color: black;

}
    #menu{
    color:#FFFFFF;
    background-color: black;
    padding-top:50px

}
    #menubutton{
        text-decoration: none;
        color: #ffffff;
        padding-right:10px;
    }
    #slide{
        height:  350px;
        width: 100%;
padding: 0 0 0 0;
    }
    #content{
        background-color: #ffffff;
    }

#footer{
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0 0 0;
}




















